@using EnterpriseRequests.Web.Security
@model string

<ul class="nav nav-stacked hidden-print">
    @if (User.IsAdmin())
    {
        <li class="navheader">Admin</li>
        @*<li class="linkitem Entities"><a href="@Url.Action("Index", "Entities")"><i class="fa fa-question-circle fa-fw"></i> Entities</a></li>*@
    }
</ul>

<script>
    var model = '@Html.Raw(Model)';

    if (model !== "") {
        var selectedView = $('.' + model).addClass('current');
    }
</script>